*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position:relative;
}
.ontop{
    background-color: rgba(6,6,202,0.1);
    padding: 10px;
    z-index: 1;
    position: fixed;    
    width: 100%;
    height: 50px;
    /* display: none; */
}
#intop{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#intop a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-transform: uppercase;


}
.ontop:hover{
    /* display: block; */
    background-color: rgba(6,6,202, 0.8);
}
#intop a:hover{
    font-size: 22px;
}